.screen-dekstop-container {
  min-height: 100vh;
}
.screen-dekstop-screen-dekstop {
  width: 100%;
  height: auto;
  display: flex;
  padding: 80px 195px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: var(--dl-color-default-background);
}
.screen-dekstop-hero-section-frame {
  width: 1050px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.screen-dekstop-hero-text-buttons {
  width: 510px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 30px;
  flex-direction: column;
}
.screen-dekstop-headline-subhead {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.screen-dekstop-text {
  color: var(--dl-color-default-white);
  width: 510px;
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 110.00000238418579%;
  margin-right: 0;
  margin-bottom: 20px;
}
.screen-dekstop-text02 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 160.0000023841858%;
  margin-right: 0;
  margin-bottom: 0;
}
.screen-dekstop-button {
  height: 60px;
  display: flex;
  padding: 0 50px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  margin-bottom: 40px;
  justify-content: center;
  background-color: var(--dl-color-default-calltoaction);
}
.screen-dekstop-rocket-launch {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 12px;
}
.screen-dekstop-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.screen-dekstop-additional-info {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
}
.screen-dekstop-total-sale {
  width: 150px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 30px;
  border-radius: 20px;
  flex-direction: column;
}
.screen-dekstop-text06 {
  color: var(--dl-color-default-white);
  height: auto;
  flex-grow: 1;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0px;
}
.screen-dekstop-text08 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 23.989999771118164px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.screen-dekstop-auctions {
  width: 150px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 30px;
  border-radius: 20px;
  flex-direction: column;
}
.screen-dekstop-text10 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0px;
}
.screen-dekstop-text12 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 23.989999771118164px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.screen-dekstop-artists {
  width: 150px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
}
.screen-dekstop-text14 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0px;
}
.screen-dekstop-text16 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 23.989999771118164px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.screen-dekstop-highlighted-n-f-t {
  width: 510px;
  height: 510px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.screen-dekstop-image-placeholder {
  width: auto;
  height: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  border-color: transparent;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0px;
}
.screen-dekstop-frame230 {
  height: 109px;
  display: flex;
  padding: 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0 0 20px 20px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-backgroundsecondary);
}
.screen-dekstop-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 10px;
}
.screen-dekstop-artist-card {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
}
.screen-dekstop-avatar {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 12px;
}
.screen-dekstop-asset122 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.screen-dekstop-avatar-placeholder {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: transparent;
  border-radius: 120px;
}
.screen-dekstop-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
